{% extends 'bandas/layout.html' %}


{% block content %}
        <div class="header-image">
            <div class="header-text">Rock Lusófona</div>
        </div>
        <nav class="header-bar">
            <div class="contentorlogin">
            {% if request.user.is_authenticated %}
                <a href="{% url 'logout' %}?next={{ request.path }}" class="button logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
            {% else %}
                <a href="{% url 'login' %}?next={{ request.path }}" class="button"><i class="fas fa-sign-in-alt"></i> Login</a>
            {% endif %}
            <a href="{% url 'html5' %}" class="button home-button">
                <i class="fa-brands fa-css3-alt"></i> HTLM-5-CSS
                </a>
            </div>
            <div class="contentorEdicao">
            {% if request.user.is_authenticated %}
                        <span class="username">
                            <i class="fas fa-user"></i>
                            {{ request.user.username }}
                        </span>
            {% endif %}
            </div>
        </nav>
<div id="content-container" class="centered-content">
    <h1 class="new-rocker-regular centered">Bandas de Rock</h1>
    <p class="centered">Bem-vindo à nossa plataforma dedicada às lendárias bandas de rock que moldaram a história da música.</p>
    <p class="centered">Prepare-se para explorar o fascinante universo do rock, onde cada acorde conta uma história e cada verso ecoa com paixão.</p>
    <p class="centered">Desvende os mistérios por trás de cada álbum, cada faixa é uma jornada única, uma expressão poderosa de criatividade e emoção.</p>
    <p class="centered">Deixe-se levar pelas melodias envolventes e letras profundas que transcendem o tempo e o espaço.</p>
    <p class="centered">Aqui estão todas as bandas de rock disponíveis:</p>

    <ul class="band-list">
        {% if bandas %}
            {% for banda in bandas %}
                <div class="band-item">
                    <a href="{% url 'banda' banda.id %}" class="band-link">
                        <div class="band-info">
                            <div class="band-text">
                                <h2><a href="{% url 'banda' banda.id %}" class="link-underlineRed" style="color: red;">{{ banda.nome }}</a></h2>
                                <p><span style="color: black;">Ano de Criação: {{ banda.anoDeCriacao }}</p>
                            </div>
                            <img src="{{ banda.foto.url }}" alt="{{ banda.nome }}" class="band-image">
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% else %}
            <p class="centered">Nenhuma banda disponível.</p>
        {% endif %}
    </ul>

    <p class="centered">
        {% if request.user.is_authenticated and userIsEditor %}
            <a href="{% url 'nova_banda' %}"class="button add--button">
                <i class="fas fa-plus"></i>Inserir nova Banda</button></a>
                </a>
        {% endif %}

    </p>
</div>
{% endblock %}