<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'meteo/estilos.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=New+Rocker&family=Rock+Salt&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://kit.fontawesome.com/5d1319edfb.js" crossorigin="anonymous"></script>
    <title>API de Previsão Meteorológica</title>
</head>
<body>
    <div class="container">
        <h1 class="title">API de Previsão Meteorológica</h1>
        <h2 class="subtitle">Aqui pode obter mais informações sobre a minha API</h2>
        <section>
            <h2 class="subtitle">Endpoints da API</h2>

            <div class="endpoint-box">
                <h3>Lista de Cidades</h3>
                <p><strong>Método:</strong> GET </p>
                <p><strong>Objetivo:</strong> Retorna uma lista de todas as cidades disponíveis na API IPMA.</p>
                <p><strong>URL:</strong> <code>https://a22208623.pythonanywhere.com/meteo/api/cidades</code></p>
                <p><strong>Passos:</strong></p>
                <ul>
                    <li>Faz uma requisição à API IPMA para obter a lista de cidades.</li>
                    <li>Extrai o nome e o ID de cada cidade e retorna como JSON.</li>
                </ul>
                <p><strong>Estrutura da Resposta:</strong></p>
                <pre><code>{
    "cidades": [
    {
      "nome": "Aveiro",
      "id": 1010500
    },
    {
      "nome": "Beja",
      "id": 1020500
    },
]}</code></pre>
            </div>

            <div class="endpoint-box">
                <h3>Previsao de Hoje</h3>
                <p><strong>Método:</strong> GET </p>
                <p><strong>Objetivo:</strong> Retorna a previsão do tempo para o dia atual de uma cidade à escolha.</p>
                <p><strong>Endpoint:</strong> <code>https://a22208623.pythonanywhere.com/meteo/api/previsao_hoje/{cidade_id}/</code></p>
                <p>Substitua <code>{cidade_id}</code> pelo ID da cidade desejada. Este endpoint retorna a previsão do tempo para o dia atual da cidade específica em formato JSON.</p>
                <p><strong>Passos:</strong></p>
                <ul>
                    <li>Faz uma requisição à API IPMA para obter a previsão diária da cidade com o ID fornecido.</li>
                    <li>Faz uma segunda requisição para obter a descrição dos tipos de tempo.</li>
                    <li>Extrai as variáveis necessárias (temperaturas, data, descrição do tempo, probabilidade de precipitação) e monta a URL do ícone correspondente ao tipo de tempo.</li>
                    <li>Retorna as informações como JSON.</li>
                </ul>
                <p><strong>Estrutura da Resposta:</strong></p>
                <pre><code>{
    "cidade": "Lisboa",
    "data": "2024-06-07",
    "min_temp": 18.5,
    "max_temp": 28.3,
    "descricaoTempo": "Céu Limpo",
    "precipitacao": 0,
    "icon_url": "w_ic_d_01anim.svg"
}</code></pre>
            </div>

            <div class="endpoint-box">
                <h3>Previsão Próximos 5 dias</h3>
                <p><strong>Método:</strong> GET </p>
                <p><strong>Objetivo:</strong> Retorna a previsão do tempo para os próximos 5 dias de uma cidade específica.</p>
                <p><strong>Endpoint:</strong> <code>https://a22208623.pythonanywhere.com/meteo/api/previsao_proximos_5_dias/{cidade_id}/</code></p>
                <p>Substitua <code>{cidade_id}</code> pelo ID da cidade desejada. Este endpoint retorna a previsão do tempo para os próximos 5 dias da cidade específica em formato JSON.</p>
                <p><strong>Passos:</strong></p>
                <ul>
                    <li>Faz uma requisição à API IPMA para obter a previsão diária da cidade com o ID fornecido para os próximos 5 dias.</li>
                    <li>Faz uma segunda requisição para obter a descrição dos tipos de tempo.</li>
                    <li>Para cada um dos próximos 5 dias, extrai as variáveis necessárias e monta a URL do ícone correspondente ao tipo de tempo.</li>
                    <li>Retorna as informações como JSON.</li>
                </ul>
                <p><strong>Estrutura da Resposta:</strong></p>
                <pre><code>{
  "cidade": "Aveiro",
  "previsoes": [
    {
      "data": "2024-06-09",
      "min_temp": "16.3",
      "max_temp": "22.2",
      "descricaoTempo": "Céu parcialmente nublado",
      "precipitacao": "9.0",
      "icon_url": "w_ic_d_03anim.svg"
    },
    {
      "data": "2024-06-10",
      "min_temp": "15.7",
      "max_temp": "22.9",
      "descricaoTempo": "Céu parcialmente nublado",
      "precipitacao": "30.0",
      "icon_url": "w_ic_d_03anim.svg"
    },
    {
      "data": "2024-06-11",
      "min_temp": "15.1",
      "max_temp": "21.9",
      "descricaoTempo": "Céu limpo",
      "precipitacao": "0.0",
      "icon_url": "w_ic_d_01anim.svg"
    },
    {
      "data": "2024-06-12",
      "min_temp": "14.0",
      "max_temp": "20.7",
      "descricaoTempo": "Céu nublado por nuvens altas",
      "precipitacao": "0.0",
      "icon_url": "w_ic_d_05anim.svg"
    },
    {
      "data": "2024-06-13",
      "min_temp": "13.8",
      "max_temp": "19.9",
      "descricaoTempo": "Aguaceiros/chuva",
      "precipitacao": "40.0",
      "icon_url": "w_ic_d_06anim.svg"
    }
  ]
}</code></pre>
            </div>
        </section>
        <h2 class="subtitle">Aqui estão dois exemplos do que consegui fazer utilizando a API do IPMA e são também exemplos daquilo que podes fazer com a minha API</h2>
        <div class="button-container">
            <a href="{% url 'meteo:tempo_lisboa' %}" class="button"><b>Tempo de Hoje em Lisboa</b></a>
            <a href="{% url 'meteo:previsao_proximos_5_dias' %}" class="button"><b>Previsão dos Próximos 5 Dias em Lisboa</b></a>
        </div>
    </div>
</body>
</html>