<!DOCTYPE html>
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aprendendo Desenvolvimento Frontend</title>
</head>
<body>

    <header>
        <h1>Desenvolvimento Frontend</h1>
    </header>

    <main>
      <h2>Minha Jornada no Mundo do Frontend</h2>
      <p>Estou empolgado em mergulhar no universo do desenvolvimento frontend, aprendendo a criar interfaces de usuário incríveis para a web.</p>
      <p>Meu objetivo é dominar as tecnologias essenciais para construir sites e aplicações web interativas e responsivas.</p>

      <h2>O que Estou a Aprender</h2>
      <p>Neste momento, estou a comecar a  familiarizar-me com:</p>
      <ul>
        <li>HTML para estruturar o conteúdo das páginas;</li>
        <li>CSS para estilizar e dar vida às minhas criações;</li>
        <li>JavaScript para tornar minhas páginas web dinâmicas e interativas.</li>
      </ul>

      <h2>O que Gostaria de Aprender</h2>
      <p>Estou ansioso para explorar:</p>
      <ul>
        <li>Frameworks populares como React, Angular;</li>
        <li>Técnicas avançadas de CSS;</li>
        <li>Integração de APIs para tornar minhas aplicações mais dinâmicas;</li>
        <li>O desenvolvimento de aplicações web progressivas (PWAs).</li>
      </ul>
      
      <h2>Ideias de Projetos</h2>
      <p>Algumas ideias de projetos que gostaria de explorar incluem:</p>
      <ul>
        <li>Um portfólio online para exibir as minhas habilidades em programação web;</li>
        <li>Uma aplicação de lista de tarefas ;</li>
      </ul>
    </main>

    <footer>
        <p>&copy; 2024 Aprendendo Desenvolvimento Frontend.</p>
    </footer>

</body>
</html>