{% extends 'AppCurso/layout.html' %}

{% block content %}
        <div class="header-image">
        </div>
        <nav class="header-bar">
            <div class="contentorlogin">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'logout' %}?next={{ request.path }}" class="button logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                    <a href="{% url 'curso:pagina_listaProjetos' %}"class="button home-button">
                    <i class="fa-solid fa-paste"></i> Projetos
                    </a>
                {% else %}
                    <a href="{% url 'login' %}?next={{ request.path }}" class="button"><i class="fas fa-sign-in-alt"></i> Login</a>
                {% endif %}
                </div>
                {% if request.user.is_authenticated %}

                <span class="username">
                    <i class="fas fa-user"></i>
                    {{ request.user.username }}
                </span>
                {% endif %}
        </nav>
        <div class="conteinerTitulo">
            <div class="tituloPagina">
                <h1>Engenharia Informática </h1>
            </div>
            <div class="subtituloPagina">
                <p>Universidade Lusófona de Humanidades e Tecnologias</p><br>
            </div>
        </div>
        <div class="caixaprincipal">
            <div class="textoprincipal">
                <div class="contentor-texto">
                    <strong class="titulo-seccao">Apresentação:</strong>
                    <div class="textoApresentacao" style="white-space: pre-line;">
                        {{ curso.apresentacao }}
                    </div>
                </div>
                <div class="contentor-texto">
                    <strong class="titulo-seccao">Objetivos:</strong>
                    <div class="textoApresentacao" style="white-space: pre-line;">
                        {{ curso.objetivos }}
                    </div>
                </div>
                <div class="contentor-texto">
                    <strong class="titulo-seccao">Competencias:</strong>
                    <div class="textoApresentacao" style="white-space: pre-line;">
                        {{ curso.competencias }}
                    </div>
                </div>
            </div>
        </div>
        <div class="conteinerTitulo">
            <p><strong class= "subtituloPaginaAzul">Aqui pode aceder a informações sobre as minhas cadeiras em cada ano:</strong><p>

            <div class="conteinerbotoes">
                <a href="{% url 'curso:pagina_ano' ano=1 %}" class="botaoAno"> 1º Ano de Faculdade</a>
                <a href="{% url 'curso:pagina_ano' ano=2 %}" class="botaoAno">2º Ano de Faculdade</a>
            </div>
        </div>


{% endblock %}