

body {
    background-image: url('/static/autenticacao/fundo5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 20px; /* Adiciona uma margem ao redor do corpo */
}

main {
    text-align: center;
}

h3 {
    font-size: 30px; /* Tamanho maior para o título */
    color: green; /* Cor verde para o título */
    margin-bottom: 20px; /* Margem inferior para separar do próximo elemento */
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px 20px;
    border: 2px solid white; /* Adiciona uma borda verde */
    border-radius: 20px;
    margin: 10px 0;
    background-color: transparent;
    color: white;
}

button {
    background-color: transparent;
    color: green;
    border: 2px solid green;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: border-color 0.3s ease;
    margin-top: 20px; /* Margem superior para separar do próximo elemento */
}

button:hover {
    border-color: white;
    color : white;
}

button.submit {
    background-color: green; /* Cor verde para o botão de submit */
    border-color: green;
    padding: 10px 18px; /* Aumenta um pouco o tamanho */
    color: white;
    font-size: 12px;
}

button.submit:hover {
    background-color: darkgreen; /* Cor verde mais escura ao passar o mouse */
    border-color: darkgreen;
}